{% extends 'base.html' %}
{% load dict_key %}
{% block convert_active %}active{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <label for="amount">Amount:</label>
    <input id="amount">
    <select id="from" name="from ">
        {% for currency in all_currencies %}
            <option>{{ currency }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="to">To:</label>
    <select id="to">
        {% for currency in all_currencies %}
            <option>{{ currency }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <strong>
        <div class="hidden" id="result"></div>
    </strong>
    <br>
    <br>
    <button class="btn btn-primary" onclick="convert()">Convert</button>
    <script>
        function convert() {
            let from = $("#from")[0];
            let to = $("#to")[0];
            let amount = $("#amount")[0];
            let result_div = $("#result")[0];
            let exchange_rates = {};
            let exchange_units = {};
            {% for item in all_currencies %}
                {% get_values_from_dictionary_tag exchange_rates item as rate %}
                {% get_values_from_dictionary_tag exchange_units item as unit %}
                exchange_rates['{{ item }}'] = {{ rate }};
                exchange_units['{{ item }}'] = {{ unit }};
            {% endfor %}
            let amountFromLv = amount.value * parseFloat(exchange_rates[from.value]) / parseInt(exchange_units[from.value]);
            let result = amountFromLv / parseFloat(exchange_rates[to.value]) * parseInt(exchange_units[to.value]);
            result_div.innerHTML = 'Result is: ' + result.toFixed(2) + ' ' + to.value;
            result_div.class = 'h1';
        }
    </script>
{% endblock %}